<h1>Add a Vendor</h1>
<p>Please enter a vendor name in the form below to add to Order Tracker:</p>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Vendor Description</label>
  <input id="vendorDescription" name="vendorName" type="text">
  <label for="vendorLocation">Vendor Location</label>
  <input id="vendorLocation" name="vendorLocation" type="text">
  <button type ="submit">Add</button>
</form>

<p><a href='/'>Return to Splash Page</a></p>
<p><a href="/vendors">Return to Vendors Page</a></p>