@using OrderTracker.Models;

<h1>The vendor you have selected is : @Model.Name</h1>

<p>Description: @Model.Description</p>
<p>ID: @Model.Id</p>
<p>Location: @Model.Location</p>

<h3><a href='/vendors/@Model.Id/orders/new'>Add an order to this vendor</a></h3>

<h3><a href='/vendors'>Back to all Vendors List</a></h3>
<h3><a href='/'>Back to Home Page</a></h3>



