<h1>Order Details: </h1>


<h2>Vendor: @Model["vendor"].Name</h3>
<h3>Order Name:@Model["order"].Title</h2>
<h3>Details: @Model["order"].Description</h2>
<h3>Price: @Model["order"].Price</h2>
<h3>Order#: @Model["order"].Id</h2>


<a href='/categories/@Model["vendor"].Id/orders/new'>Add another Order</a>
<a href='/categories'>View all categories</a>