<h2>Order Details: </h2>


<p>Vendor Name: @Model["vendor"].Name</p>
<p>Order Name:@Model["order"].Title</p>
<p>Details: @Model["order"].Description</p>
<p>Price: $@Model["order"].Price</p>
<p>Purchase Date: $@Model["order"].Date</p>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another Order</a>
<a href='/vendors'>View all Vendors</a>
